################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BED/*/*/*/bin
/BED/*/*/*/obj/Debug
/BED/.vs
/BED/.vscode

